{#NAVTABS USUARO#}

{#MACROS#}
{% import "form.html.twig" as form %}

<h4>Datos del Usuario</h4>

{# NOMBRE #}
{{ form.inputText('Nombre de Usuario','equipo-usuario-nombre','',FALSE,'Introduzca el nombre del equipo') }}
