{# LAYOUT APP#}
{% extends "layout.html.twig" %}
{#CONTENIDO#}
{% block contenido %}
<div id="tutorial">
   <div >
       <div class="bloque">
           <label>C贸digo</label>
           <input class="texto" type="text" id="txtCodigo" value="" />
       </div>
       <div class="bloque">
           <label>Nombre</label>
           <input class="texto" type="text" id="txtNombre" value="" />
       </div>
         <div class="bloque">
           <label>Precio</label>
           <input class="texto" type="text" id="txtPrecio" value="" />
       </div>
       <div class="bloque">
           <input value="Agregar" type="button" onclick="Agrega()" />
       </div>
       <div style="clear:both"></div>
   </div>

   <div>
       <table style="width:400px;" id="tablaProductos">
           <tr>
               <th>C贸digo</th>
               <th>Nombre</th>
               <th>Precio</th>
               <th>X</th>
           </tr>
       </table>
   </div>
</div>
<script type="text/javascript">

function Agrega(){

    //obtenemos los valores de nuestra caja de texto
    nodoAInsertar="<tr>"; //nodo en el cual obtendremos el codigo html nuevo a insertar en la tabla

    $(".texto").each(function(){ //selector por clase texto y un each para recorrer elementos

        nodoAInsertar+="<td>"; //abrimos td

        nodoAInsertar+=$(this).prop("value"); //obtenemos el valor de la caja de texto

        nodoAInsertar+="</td>" //cerramos td

        //limpiamos la caja de texto actual
        $(this).val("");
    });

    //agregamos el botpon para eliminar
    nodoAInsertar+="<td><input type='button' value='Eliminar' onclick='Elimina(this)'></td>"
    nodoAInsertar+="</tr>" //cerramos el tr

    //por ultimo insertamos el nodo tr a la tabla
    $("#tablaProductos").append(nodoAInsertar)

    //ponemos el foco en la caja de texto c贸digo
    $("#txtCodigo").focus()
}

function Elimina(NodoBoton){

    //recibimos el bot贸n como parametro y lo transformamos a jquery
    var botonEliminar=$(NodoBoton);

    //obtenemos el padre tr del boton para asi eliminarlo, el primer padre es td, el segundo es tr
    var padreTRBoton=$(botonEliminar).parent().parent();

    padreTRBoton.remove();

    //todo esto puede funcionar con esta misma linea "$(NodBoton).parent().parent().remove();"
}
</script>
{% endblock %}
